@import "tailwindcss";

/* In v4, you customize your theme directly in CSS! 
  No tailwind.config.js needed for colors or fonts.
*/
@theme {
  --color-brand: #3b82f6;
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

